# System Files
.DS_Store
Thumbs.db

# Dependencies
/node_modules
/bower_components

# IDE files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Logs
logs
*.log
npm-debug.log*

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
